body{
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.top-section{
    height: 650px;
    background-color: #F0FFF0;
    margin-bottom: 100px;
}
nav{
    margin-bottom: 100px;
}
.icon{
    height: 62px;
    width: 177px;
}
.btn-sm{
    border-radius: 20px;
    --bs-btn-padding-y: .40rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: .75rem;
}
p{
    font-size: 18px;
}
.b-h1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
#book img{
    height: 100px;
    width: 80px;
}
.card{
    height: 300px;
}
.mini-icon{
    height: 20px;
    width: 20px;
}
#courses h1{
    color: #413960;
    font-weight: 700;
    margin-top: 100px;
}
#courses h5{
    color: #413960;
    font-weight: 600;
}
.courses-card p{
    color: rgb(124, 124, 128);
    font-size: 13px;
}
.testmonial{
    margin-top: 100px;
}
.testmonial h1{
    font-weight: 700;
}
.footer{
    height: 300px;
    background-color: #282531;
    color: white;
}
.footer h4{
    font-size: 17px;
    font-weight: 700;
}
.footer p{
    font-size: 13px;
    color: #FFFFFF;

}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}